{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h1>Edit Machine</h1>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="input-group mb-3">
                <span class="input-group-text" style="min-width: 140px;">{{ field.label_tag }}</span>
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-success">Save Changes</button>
    </form>
{% endblock %}